.vscode
*.smd
*.qc
*.bak
/.vs
.vs/horde-npcz/FileContentIndex/7f751973-d556-4e8d-8e73-8e4b9550ab64.vsidx
.vs/horde-npcz/FileContentIndex/e83367df-cf58-4716-8e8b-133f0914e6cf.vsidx
.vs/horde-npcz/v17/.wsuo
.vs/horde-npcz/v17/DocumentLayout.json
.vs/horde-npcz/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/horde-npcz/FileContentIndex/6a6abf52-4e17-4ba9-b04e-fb6301716544.vsidx
.vs/horde-npcz/FileContentIndex/7f751973-d556-4e8d-8e73-8e4b9550ab64.vsidx
.vs/horde-npcz/FileContentIndex/e83367df-cf58-4716-8e8b-133f0914e6cf.vsidx
.vs/horde-npcz/v17/.wsuo
.vs/horde-npcz/v17/DocumentLayout.json
.vs/horde-npcz/v17/workspaceFileList.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
